<!-- PWA Install Button -->
<button id="pwa-install-btn"
    class="animate-bounce-slow border-subtle bottom-4 dark:hover:bg-subtle duration-300 fixed hidden-install-btn hover:bg-subtle bg-surface border group h-12 hidden items-center justify-center text-muted w-12 right-4 shadow-lg transition-all z-50">
    <i class="fas fa-arrow-down transform group-hover:translate-y-1 transition-transform"></i>
    <span class="sr-only">Install App</span>
    <!-- Tooltip -->
    <div
        class="bg-subtle bottom-full group-hover:opacity-100 absolute mb-2 py-1 text-white text-xs opacity-0 pointer-events-none px-2 right-0 transition-opacity w-max">
        Install App
    </div>
</button>