{% load static %}
<!-- Mobile Bottom Nav -->
<nav class="mobile-nav">
    <div class="grid-cols-4 k-d-grid k-h-full">
        <a href="{% url 'core:home' %}"
            class="mobile-nav-item {% if request.path == '/' %}mobile-nav-item-active{% endif %}">
            <i class="fa-home fas k-text-lg"></i>
            <span class="mobile-nav-label">Home</span>
        </a>
        <a href="{% url 'projects:list' %}"
            class="mobile-nav-item {% if 'projects' in request.path %}mobile-nav-item-active{% endif %}">
            <i class="fa-briefcase fas k-text-lg"></i>
            <span class="mobile-nav-label">Projects</span>
        </a>
        <a href="{% url 'tools:index' %}"
            class="mobile-nav-item {% if 'tools' in request.path %}mobile-nav-item-active{% endif %}">
            <i class="fa-toolbox fas k-text-lg"></i>
            <span class="mobile-nav-label">Tools</span>
        </a>
        <a href="{% url 'core:about' %}"
            class="mobile-nav-item {% if 'about' in request.path %}mobile-nav-item-active{% endif %}">
            {% if user.is_authenticated and user.avatar_url %}
            <img src="{{ user.avatar_url }}" alt="Avatar" class="border-subtle h-5 k-border k-rounded-full w-5">
            {% else %}
            <i class="fa-info-circle fas k-text-lg"></i>
            {% endif %}
            <span class="mobile-nav-label">About</span>
        </a>
    </div>
</nav>