{% extends "base.html" %}

{% block title %}Contact | Kiri Labs{% endblock %}

{% block meta_description %}
Get in touch with Kiri Labs. Collaborate, provide feedback, or inquire about our software and AI tools.
{% endblock %}

{% block og_title %}Contact Kiri Labs | Collaboration & Support{% endblock %}

{% block og_description %}
Get in touch with Kiri Labs. Collaborate, provide feedback, or inquire about our software and AI tools.
{% endblock %}

{% block content %}
<div class="k-max-w-2xl k-mx-auto px-4 py-12">
    <div class="k-mb-8 k-text-center">
        <h1 class="k-font-bold k-mb-2 k-text-3xl text-heading">Get in Touch</h1>
        <p class="text-body"> Have a question, feedback, or want to collaborate? We'd love to hear from you. </p>
    </div>
    
    <div class="card k-p-8 k-text-center">
        <div class="bg-success-subtle h-16 k-d-flex k-items-center k-justify-center k-mb-6 k-mx-auto k-rounded-full w-16">
            <i class="fa-envelope fas k-text-2xl text-kiri-green"></i>
        </div>
        <h2 class="k-page-title text-heading">Connect with Kiri Labs</h2>
        
        <p class="k-mb-8 leading-relaxed text-body"> 
            We are always open to collaboration, feedback, and inquiries about our research and platforms. Drop us a line directly, and we will get back to you as soon as possible. 
        </p>
        
        <div class="bg-subtle border-subtle dark:hover:border-kiri-green hover:border-kiri-green k-border k-group k-inline-flex k-items-center k-justify-center px-6 py-4 rounded-xl space-x-2 transition-all">
            <i class="fas fa-paper-plane text-kiri-green group-hover:transform group-hover:-translate-y-1 transition-transform"></i>
            <a href="mailto:hello@kiri.ng" class="hover:text-kiri-green k-font-medium k-text-lg k-transition-colors text-heading"> 
                hello@kiri.ng 
            </a>
        </div>
    </div>
</div> 

<div class="k-spacer md:hidden"></div>
{% endblock %}