@import "tailwindcss";

@theme {
  --color-primary-500: #10B981;
  --color-background-DEFAULT: #09090B;
}

@layer utilities {
  .glass-panel {
    @apply bg-zinc-900/70 backdrop-blur-md border border-zinc-800;
  }

  .text-glow {
    text-shadow: 0 0 10px rgba(16, 185, 129, 0.5);
  }
}